body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* admin page add component start */

.add-inputs  {
  display: flex;
  justify-content: center;
}

.add-inputs form {
  display: flex;
  width: 320px;
  flex-direction: column;
}


.add-inputs form input {
  width: 100%;
}


/* admin page add component end */

a.unset {
  color: unset;
  text-decoration: none;
}


/* main page start */

 .main{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.title-margin{
  margin-top: 100px;
}

.content-block {
  display: flex;
  flex-wrap: wrap;
} 

/* main page end */

/* card start */

.card-btn{
  justify-content: center;
}

/* card end */

/* оплаты карты start */

.cardsNumber{
  display: flex;
  justify-content: center;
}

/* оплаты карты end */
